<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.RestaurantCategoriesMapper">

    <!-- レストランカテゴリー間テーブルに追加 -->
    <insert id="insert">
        INSERT INTO restaurant_categories
        (restaurant_id, category_id)
        VALUES
        (#{restaurantId}, #{categoryId})
    </insert>

    <select id="exists" resultType="int">
        SELECT COUNT(*)
        FROM restaurant_categories
        WHERE restaurant_id = #{restaurantId}
          AND category_id = #{categoryId}
    </select>
</mapper>