<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.RestaurantsLikesMapper">

    <!-- ① レストランいいね追加 -->
    <insert id="insert" parameterType="RestaurantsLikes">
        INSERT INTO restaurants_likes
        (restaurant_id, user_id)
        VALUES
        (#{restaurantId}, #{userId})
    </insert>

    <!-- ② レストランいいね削除 -->
    <delete id="delete" parameterType="RestaurantsLikes">
        DELETE FROM restaurants_likes
        WHERE restaurant_id = #{restaurantId}
          AND user_id = #{userId}
    </delete>

    <!-- ③ レストラン別いいね数取得 -->
    <select id="countByRestaurantId" parameterType="java.lang.Long" resultType="int">
        SELECT COUNT(*) 
        FROM restaurants_likes
        WHERE restaurant_id = #{restaurantId}
    </select>

    <!-- ④ レストランいいね存在確認 -->
    <select id="isLiked" parameterType="RestaurantsLikes" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM restaurants_likes
            WHERE restaurant_id = #{restaurantId}
                AND user_id = #{userId}
        )
    </select>
</mapper>