<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.UserMapper">
    <!-- 全件検索 -->
    <select id="selectAll" resultType="com.example.backend.entity.User">
        SELECT * FROM "users"
    </select>
    <!-- １件検索 -->
    <select id="selectById" resultType="com.example.backend.entity.User">
        SELECT * FROM "users" WHERE user_id = #{user_id}
    </select>

    <select id="findByName" resultType="com.example.backend.entity.User">
        SELECT * FROM "users" WHERE name = #{name}
    </select>

    <select id="countByName" resultType="int">
        SELECT COUNT(*) FROM "users" WHERE name = #{name}
    </select>

    <insert id="insert">
        INSERT INTO "users" (name, password, introduction, created_at, updated_at)
        VALUES
        (#{name}, #{password}, #{introduction}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>

    <update id="updateIntroduction">
        UPDATE "users"
        SET introduction = #{introduction},
        updated_at = CURRENT_TIMESTAMP
        WHERE name = #{name}
    </update>

</mapper>