.container {
    margin: 30px;
    position: relative;
    top: 100px;

    input {
        border-radius: 4px;
        border: 1px solid #b8dbf3;
        padding: 4px;
    }

    textarea {
        margin-top: 10px;
        width: 300px;
        height: 150px;
        border: 1px solid #b8dbf3;
        border-radius: 8px;
        padding: 4px;
        font-family: "Noto Sans JP", sans-serif;
        line-height: 1.5;
        font-size: 14px;
        resize: vertical;
    }

    button {
        background: linear-gradient(180deg, #4e7bc5 0%, #062f6e 100%);
        color: #ffffff;
        border: none;
        border-radius: 6px;
        padding: 4px 18px;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        margin: 10px;
    }

    .longForm {
        width: 300px;
    }

}