.container {
    margin: 30px;
    position: relative;
    top: 100px;
}

.button {
    background: linear-gradient(180deg, #4e7bc5 0%, #062f6e 100%);
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 5px 18px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    margin: 10px;
}

.longForm {
    width: 300px;
}

.textarea {
    width: 300px;
    height: 150px;
}