.container {
    margin: 30px;
    position: relative;
    top: 100px;
}

.button {
    cursor: pointer;
    margin: 10px;
}

.longForm {
    width: 300px;
}

.textarea {
    width: 300px;
    height: 150px;
}