    .lists {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 15px;
        margin-left: 30px;
    }

    .likes {
        background-color: rgb(246, 255, 255);
        color: rgb(42, 42, 83);
        font-weight: 450;
        padding: 5px 15px;
        border-radius: 10px;
        outline: 1px solid rgb(203, 219, 219);
        cursor: pointer;

        &:hover {
            outline: 2px solid rgb(38, 102, 102);
        }
    }