    .userName {
        font-size: 150%;
        font-weight: 600;
        margin-bottom: 15px
    }

    .toMypageP {
        color: rgb(3, 3, 80);
        font-size: 90%;
        text-align: right;
    }

    .toMypage {
        cursor: pointer;
        color: blue;
    }

    .introduction {
        padding: 20px 0 15px 30px;
    }

    .noIntroduction {
        padding: 20px 0 15px 30px;
        color: rgb(98, 197, 197);
    }