    .toRestaurant {
        font-size: 110%;
        color: rgb(20, 20, 209);
        cursor: pointer;
    }

    .title {
        font-size: 110%;
    }

    .request {
        border-left: 5px solid orange;
        padding: 5px 0px 5px 15px;
        margin: 10px 15px 15px 30px;
        background-color: rgb(248, 251, 253);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    .reject {
        border-left: 5px solid brown;
    }

    .approved {
        border-left: 5px solid rgb(70, 132, 214);
    }