.toRestaurant {
    color: rgb(8, 8, 224);
    cursor: pointer;
    width: 300px;
}

.review {
    background-color: rgb(252, 255, 255);
    border-radius: 10px;
    padding: 10px;
    margin: 15px 5px 15px 30px;
    border: 1px solid rgb(217, 243, 243);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.star {
    margin: auto;
    margin-right: 5px;
}

.content {
    font-size: 90%;
}