.container {
    position: relative;
    top: 100px;
}

.toDetail {
    color: rgb(101, 12, 243);
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 24px;


}

.pageButton {
    min-width: 36px;
    height: 36px;
    padding: 0 10px;
    border-radius: 6px;
    border: 1px solid #d0d7de;
    background-color: #fff;
    color: #24292f;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;

    &:hover:not(:disabled) {
        background-color: #f3f4f6;
    }

    &:disabled {
        color: #9ca3af;
        cursor: not-allowed;
        background-color: #f9fafb;
    }


}