.header {
  background-color: rgba(248, 249, 250, 1);
  z-index: 1020;
  position: fixed;
  width: 99%;
  top: 0;
  padding: 8px 0;
  padding-right: 10px;
  border-bottom: 1px solid #ddd;
  height: 50px;


  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;

}

.right {
  display: flex;
  align-items: center;
  gap: 8px;
}