.header {
  background-color: rgba(248, 249, 250, 1);
  z-index: 1020;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
  height: 50px;
 
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;

}
