.header {
  background-color: rgba(248, 249, 250, 1);
  z-index: 1020;
  position: fixed;
  width: 99%;
  top: 0;
  padding: 8px 0;
  padding-right: 10px;
  border-bottom: 1px solid #ddd;
  height: 50px;


  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

}

.title {
  font-size: 1.7rem;
  font-weight: bold;
  margin-left: 10px;

  &:hover {
    cursor: pointer;
  }
}

.right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.button {
  border: none;
  background-color: #006400;
  color: white;
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &.admin {
    background-color: rgb(33, 182, 112);
  }
}

.toUserDetail {
  position: relative;
  cursor: pointer;
  color: rgb(5, 20, 233);
  font-weight: bold;

  &.unreadSign::after {
    content: "";
    position: absolute;
    top: -8px;
    right: -8px;

    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
  }
}