.container {
    position: relative;
    top: 180px;
    min-height: calc(100vh - 180px);
    background-color: aliceblue;

}

.main_container {
    background-color: rgb(255, 255, 255);
    border: 1px solid #e2e5ec;
    width: 350px;
    margin: 0px auto 0;
    padding: 20px;
    border-radius: 8px;
}

.button {
    border: none;
    background-color: #4b3dcc;
    color: white;
    padding: 6px 16px;
    margin: 0 5px;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }
}

.button_container {
    margin: 15px;
}

.center {
    display: block;
    margin: 50px auto 0;
}

.label {
    display: inline-block;
    width: 250px;
    color: #0d5f0d;
    font-weight: 700;
}

.input {
    margin: 3px;
    border: 1px solid #77c9ff;
    border-radius: 8px;
    background-color: #f0fbff;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 30px;

}

.textarea {
    margin-top: 10px;
    width: 340px;
    height: 250px;
    border: 1px solid #77c9ff;
    border-radius: 8px;
    background-color: #f0fbff;
    padding: 5px;
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    resize: vertical;
}

.indent {
    margin-left: 30px;
}